{% extends "base.html" %}
{% load static %}
{% block article %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<div>
   
    
    <form id="upload_form" enctype="multipart/form-data" method="post">
        {% csrf_token %}
      <div>
        <input type="file" name="file" id="file" multiple onchange="uploadFile()" style="width: 100%;">
        <progress id="progressBar" value="0" max="100" style="width:100%;height: 40px;"></progress>
    </div>
    <h3><a href="{% url 'folder' folder.uid %}"><i class="fa fa-arrow-left"></i> Go back</a></h3>
<br>
    </form>
    <h4 id="status"></h4>
      <p id="loaded_n_total"></p>
</div>
<script>
    function _(el) {
  return document.getElementById(el);
}

function uploadFile() {
  var file = _("file").files;
  for (let i = 0; i < file.length; i++) {
    const element = file[i];
    var csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val()
    // alert(file.name+" | "+file.size+" | "+file.type);
    var formdata = new FormData();
    formdata.append("file", element);
    formdata.append("csrfmiddlewaretoken", csrfmiddlewaretoken);
    var ajax = new XMLHttpRequest();
    ajax.upload.addEventListener("progress", progressHandler, false);
    ajax.addEventListener("load", completeHandler, false);
    ajax.addEventListener("error", errorHandler, false);
    ajax.addEventListener("abort", abortHandler, false);
    ajax.open("POST", "{% url 'addFile' folder.uid %}"); // http://www.developphp.com/video/JavaScript/File-Upload-Progress-Bar-Meter-Tutorial-Ajax-PHP
    //use file_upload_parser.php from above url
    ajax.send(formdata);
  }
}

function progressHandler(event) {
  _("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of " + event.total;
  var percent = (event.loaded / event.total) * 100;
  _("progressBar").value = Math.round(percent);
  _("status").innerHTML = Math.round(percent) + "% uploaded... ";
}

function completeHandler(event) {
  _("progressBar").value = 0; //wil clear progress bar after successful upload
}

function errorHandler(event) {
  _("status").innerHTML = "Upload Failed";
}

function abortHandler(event) {
  _("status").innerHTML = "Upload Aborted";
}
</script>
{% endblock article %}